@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gantari:ital,wght@0,100;0,400;1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdec;
}

.App {
  text-align: center;
}

#navBar {
  background-color: #5a2727;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#navbarLogo {
  margin-right: 1rem;
}

.navbarBrand {
  color: #fefefe;
  font-family: "Berkshire Swash", cursive;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.navLinks {
  margin-bottom: 0;
  color: #fefefe;
  font-size: 1.2rem;
  font-family: "Berkshire Swash", cursive;
}

.addToCart {
  margin-bottom: 0.3rem;
  color: #fefefe;
  font-size: 1.5rem;
}

.addToCart:hover {
  color: #2c2c2c;
}

.navbarOffcanvas {
  background-color: #5a2727;
  padding-top: 0.5rem;
  padding-inline: 1rem;
}

.closeBtn {
  color: #fefefe;
}

.subtitle {
  font-family: "Gantari", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

#carouselHero {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carouselPic {
  object-fit: cover;
  opacity: 0.7;
}

.carouselBtn {
  background-color: #1c3513;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  color: #fefefe;
  font-family: "Gantari", sans-serif;
  font-weight: bold;
}

.blockquote,
.blockquote-footer {
  font-family: "Gantari", sans-serif;
  color: #fefefe;
}

.blockquote {
  font-size: 1.5rem;
  background-color: rgba(133, 71, 71, 0.78);
  box-shadow: 5px 4px 16px 0px #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10px;
}

.blockquote-footer {
  margin-top: 3rem;
}

#footer {
  background-color: #3c3c3c;
  color: #fefefe;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.socialIcons {
  width: 150px;
}

.flexFooter {
  padding-inline: 2rem;
}

.footerTitle {
  font-family: "Berkshire Swash", cursive;
  font-size: 1.2rem;
}

.footerLinks,
.copyright {
  font-weight: 100;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.footerIcon {
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.footerIcon:hover {
  color: #5a2727;
  cursor: pointer;
}

.footerLinks:hover {
  background-color: #5a2727;
  border-radius: 5px;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: #fefefe;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #2c2c2c;
}

.newsletterTitle {
  font-family: "Berkshire Swash", cursive;
  color: #fefefe;
  margin-top: 2rem;
  text-align: start;
  margin-left: 2rem;
}

.newsletterBody {
  color: #fefefe;
  margin-top: 2rem;
  font-family: "Gantari", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  width: 400px;
  text-align: start;
  margin-left: 2rem;
}

.newsletterContainer {
  background-color: #8aa789;
  border-top: 2px solid #1c3513;
  border-bottom: 2px solid #1c3513;
}

.spanTitle {
  font-family: "Berkshire Swash", cursive;
}

.newsletterForm {
  padding-inline: 3rem;
}

.checkbox {
  color: #fefefe;
  font-weight: 100;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: start;
}

.submitBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
