@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gantari:ital,wght@0,100;0,400;1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdec;
}

.App {
  text-align: center;
}

#navBar {
  background-color: #5a2727;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#navbarLogo {
  margin-right: 1rem;
}

.navbarBrand {
  color: #fefefe;
  font-family: "Berkshire Swash", cursive;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.navLinks {
  margin-bottom: 1rem;
  color: #fefefe;
  font-size: 1.2rem;
  font-family: "Berkshire Swash", cursive;
}

.addToCart {
  margin-bottom: 0.3rem;
  color: #fefefe;
  font-size: 1.5rem;
}

.addToCart:hover {
  color: #2c2c2c;
}

.navbarOffcanvas {
  background-color: #5a2727;
  padding-top: 0.5rem;
  padding-inline: 1rem;
}

/* .closeBtn {
  color: #fefefe;
} */

.subtitle {
  font-family: "Gantari", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: -0.8rem;
  margin-left: 5rem;
}

#carouselHero {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carouselPic {
  object-fit: cover;
  opacity: 0.7;
}

.carouselBtn {
  background-color: #1c3513;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  color: #fefefe;
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.carouselBtn:hover {
  background-color: #5e8152;
}

.blockquote,
.blockquote-footer {
  font-family: "Gantari", sans-serif;
  color: #fefefe;
}

.blockquote {
  font-size: 1.5rem;
  background-color: rgba(133, 71, 71, 0.78);
  box-shadow: 5px 4px 16px 0px #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10px;
}

.blockquote-footer {
  margin-top: 3rem;
}

#footer {
  background-color: #3c3c3c;
  color: #fefefe;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.socialIcons {
  width: 150px;
}

.flexFooter {
  padding-inline: 2rem;
}

.footerTitle {
  font-family: "Berkshire Swash", cursive;
  font-size: 1.2rem;
}

.footerLinks,
.copyright {
  font-weight: 100;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.footerIcon {
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.footerIcon:hover {
  color: #5a2727;
  cursor: pointer;
}

.footerLinks:hover {
  background-color: #5a2727;
  border-radius: 5px;
  cursor: pointer;
}

.navLink {
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: #fefefe;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #2c2c2c;
}

.newsletterTitle {
  font-family: "Berkshire Swash", cursive;
  color: #fefefe;
  margin-top: 2rem;
}

.newsletterBody {
  color: #fefefe;
  margin-top: 2rem;
  font-family: "Gantari", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  max-width: 600px;
}

.newsletterContainer {
  background-color: #8aa789;
  border-top: 2px solid #1c3513;
  border-bottom: 2px solid #1c3513;
  padding-inline: 6rem;
}

.spanTitle {
  font-family: "Berkshire Swash", cursive;
}

.newsletterForm {
  font-family: "Gantari", sans-serif;
  margin: 0 auto;
}

.checkbox {
  color: #fefefe;
  font-weight: 100;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: start;
}

.submitBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.aboutContainer {
  padding-inline: 3rem;
}

.aboutTitle {
  font-family: "Berkshire Swash", cursive;
  color: #000000;
}

.aboutSpan {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.aboutBody {
  font-family: "Gantari", sans-serif;
  color: #000000;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 100;
  min-width: 400px;
  max-width: 1800px;
}

.homeCart {
  color: #1c3513;
}

.searchTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}
.searchContainer {
  margin-top: 10rem;
}

.bodySearch {
  font-family: "Gantari", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 2rem;
}

.inputContainer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.searchInput {
  max-width: 1000px;
  min-width: 600px;
  padding-inline: 2rem;
  height: 60px;
}

.inputBar {
  font-size: 1.3rem;
  font-weight: 100;
  font-family: "Gantari", sans-serif;
}

.searchBtn {
  font-family: "Gantari", sans-serif;
  background-color: #1c3513;
  color: #fefefe;
  padding-inline: 10rem;
  font-size: 1.3rem;
}

/* 
#input-group-dropdown-2.searchBtn {
  background-color: #1c3513;
  color: #fefefe;
  padding-inline: 5rem;
} */

.dropdownItem {
  background-color: transparent;
  border: none;
  font-weight: 100;
  transition: font-weight 0.2s ease;
}

.dropdownItem:hover {
  font-weight: bold;
}

.loginContainer {
  margin: 10rem auto;
  box-shadow: 5px 5px 23px 0px #000000;
  max-width: 880px;
  text-align: center;
  border-radius: 20px;
}

.flowersBackground {
  max-width: 350px;
  height: 600px;
  object-fit: cover;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.loginTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
  margin-bottom: 2rem;
}

.loginInput {
  min-width: 400px;
}

.forgotPassword {
  font-family: "Gantari", sans-serif;
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
  transition: color 0.6s ease font-weight 0.6s ease;
}

.forgotPassword:hover {
  color: #5a2727;
}

.loginBtn {
  background-color: #1c3513;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  color: #fefefe;
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.loginBtn:hover {
  background-color: #5e8152;
}

.loginCheckbox {
  font-family: "Gantari", sans-serif;
  text-align: start;
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
}

.register {
  font-family: "Gantari", sans-serif;
  color: #000000;
}

.createAccountLink {
  text-decoration: none;
}

.createAccount {
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fefefe;
  background-color: #5a2727;
  border: none;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 16px;
  transition: background-color 0.5s ease;
}

.createAccount:hover {
  background-color: #ca5f5f;
}

.resultsTitle {
  font-weight: 100;
  font-family: "Gantari", sans-serif;
}

.bookCard {
  margin-top: 5rem;
  border: none;
  transition: box-shadow 0.5s ease;
  background-color: #8aa78997;
  border: 5px double #1c3513;
}

.bookCard:hover {
  box-shadow: 5px 5px 23px 0px #000000;
  cursor: pointer;
}
.cardImage {
  object-fit: cover;
}

.bookTitle {
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.bookAuthor {
  font-family: "Gantari", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.bookPrice {
  font-family: "Gantari", sans-serif;
  font-size: 1rem;
}

.detailsBtn,
.buyBtn,
.addToFavBtn {
  color: #fefefe;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Gantari", sans-serif;
}

.detailsBtn {
  background-color: #5a2727;
  transition: background-color 0.5s ease;
}

.detailsBtn:hover {
  background-color: #ca5f5f;
}

.buyBtn {
  background-color: #1c3513;
  transition: background-color 0.5s ease;
}

.buyBtn:hover {
  background-color: #5e8152;
}

.addToFavBtn {
  background-color: #e0aa35;
  transition: background-color 0.5s ease;
}

.addToFavBtn:hover {
  background-color: #fece6d;
}

.cardsRow {
  margin-bottom: 5rem;
}

.scrollBtn {
  position: fixed;
  bottom: 16px;
  right: 10px;
  z-index: 99;
  font-size: 3.5rem;
  border: none;
  outline: none;
  color: #5a2727;
  border-radius: 30px;
  background-color: transparent;
  transition: color 0.5s ease;
  opacity: 0;
}

.scrollBtn.visible {
  opacity: 1;
}

.scrollBtn.hidden {
  opacity: 0;
}

.scrollBtn:hover {
  color: #ca5f5f;
  cursor: pointer;
}

.notFoundContainer {
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.notFoundTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.notFoundBody {
  font-size: 1.5rem;
  font-family: "Gantari", sans-serif;
  font-weight: 100;
}

.homeBtn {
  background-color: #1c3513;
  color: #fefefe;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Gantari", sans-serif;
  transition: background-color 0.5s ease;
}

.homeBtn:hover {
  background-color: #5e8152;
  cursor: pointer;
}

.favContainer {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.favTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.favPic {
  object-fit: cover;
  border: 1px solid #1c3513;
}

.tableHead {
  background-color: #1c3513;
  color: #fefefe;
  height: 70px;
  font-size: 1.7rem;
  border: 0px solid;
  font-family: "Berkshire Swash", cursive;
}

.tableRow {
  font-family: "Gantari", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}

.tableRow:nth-child(odd) {
  background-color: #c2e4c199;
}

.tableRow:nth-child(even) {
  background-color: #8aa78900;
}

.deleteBtn {
  border: none;
  background-color: #e0aa35;
  color: #fefefe;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: background-color 0.5s ease;
}

.deleteBtn:hover {
  background-color: #fece6d;
}

.divider {
  border: 2px solid #1c3513;
  margin-bottom: 3rem;
}

.releasesContainer {
  padding-inline: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.releasesTitle {
  font-family: "Berkshire Swash", cursive;
}

.releasesBody {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Gantari", sans-serif;
}

.homeCardContainer {
  min-width: 500px;
  overflow-x: scroll;
}

.homeCard {
  margin-top: -5rem;
}
