@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gantari:ital,wght@0,100;0,400;1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdec;
}

.App {
  text-align: center;
}

.transition {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.transition.visible {
  opacity: 1;
}

#navBar {
  background-color: #5a2727;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#navbarLogo {
  margin-right: 1rem;
}

.navbarBrand {
  color: #fefefe;
  font-family: "Berkshire Swash", cursive;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.navLinks {
  margin-bottom: 1rem;
  color: #fefefe;
  font-size: 1.2rem;
  font-family: "Berkshire Swash", cursive;
}

.addToCart {
  margin-bottom: 0.3rem;
  color: #fefefe;
  font-size: 1.5rem;
}

.addToCart:hover {
  color: #2c2c2c;
}

.navbarOffcanvas {
  background-color: #5a2727;
  padding-top: 0.5rem;
  padding-inline: 1rem;
}

.subtitle {
  font-family: "Gantari", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: -0.8rem;
  margin-left: 5rem;
}

#carouselHero {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carouselPic {
  object-fit: cover;
  opacity: 0.7;
}

.carouselBtn {
  background-color: #1c3513;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  color: #fefefe;
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.carouselBtn:hover {
  background-color: #5e8152;
}

.blockquote,
.blockquote-footer {
  font-family: "Gantari", sans-serif;
  color: #fefefe;
}

.blockquote {
  font-size: 1.5rem;
  background-color: rgba(133, 71, 71, 0.78);
  box-shadow: 5px 4px 16px 0px #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10px;
}

.blockquote-footer {
  margin-top: 3rem;
}

#footer {
  background-color: #3c3c3c;
  color: #fefefe;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.socialIcons {
  width: 150px;
}

.flexFooter {
  padding-inline: 2rem;
}

.footerTitle {
  font-family: "Berkshire Swash", cursive;
  font-size: 1.2rem;
}

.footerLinks,
.copyright {
  font-weight: 100;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.footerIcon {
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.footerIcon:hover {
  color: #5a2727;
  cursor: pointer;
}

.footerLinks:hover {
  background-color: #5a2727;
  border-radius: 5px;
  cursor: pointer;
}

.navLink {
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: #fefefe;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #2c2c2c;
}

.newsletterTitle {
  font-family: "Berkshire Swash", cursive;
  color: #fefefe;
  margin-top: 2rem;
}

.newsletterBody {
  color: #fefefe;
  margin-top: 2rem;
  font-family: "Gantari", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  max-width: 600px;
}

.newsletterContainer {
  background-color: #8aa789;
  border-top: 2px solid #1c3513;
  border-bottom: 2px solid #1c3513;
  padding-inline: 6rem;
}

.spanTitle {
  font-family: "Berkshire Swash", cursive;
}

.newsletterForm {
  font-family: "Gantari", sans-serif;
  margin: 0 auto;
}

.checkbox {
  color: #fefefe;
  font-weight: 100;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: start;
}

.submitBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.modalHeader {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-left: 1rem;
}

.modalLogo {
  margin-right: 1rem;
}

.modalBodyContainer {
  margin-inline: 1rem;
  margin-top: 1rem;
}

.modalSubtitle {
  font-family: "Gantari", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.modalIcon {
  margin-right: 1rem;
}

.modalBody {
  font-family: "Gantari", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: 1rem;
}

.modalBtn {
  font-family: "Gantari", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding-inline: 1rem;
  border-radius: 5px;
  background-color: #5a2727;
  transition: background-color 0.5 ease;
}

.modalBtn:hover {
  background-color: #ca5f5f;
}

.aboutContainer {
  padding-inline: 3rem;
}

.aboutTitle {
  font-family: "Berkshire Swash", cursive;
  color: #000000;
}

.aboutSpan {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.aboutBody {
  font-family: "Gantari", sans-serif;
  color: #000000;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 100;
  min-width: 400px;
  max-width: 1800px;
}

.homeCart {
  color: #1c3513;
}

.searchTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}
.searchContainer {
  margin-top: 12rem;
  margin-bottom: 17rem;
}

.bodySearch {
  font-family: "Gantari", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 2rem;
}

.inputContainer {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.searchInput {
  max-width: 1000px;
  min-width: 600px;
  padding-inline: 2rem;

  height: 70px;
}

.inputBar {
  font-size: 1.3rem;
  font-weight: 100;
  font-family: "Gantari", sans-serif;
  padding-block: 0.6rem;
}

.searchBtn {
  font-family: "Gantari", sans-serif;
  background-color: #5a2727 !important;
  color: #fefefe !important;
  padding-block: 0.6rem !important;
  font-size: 1.3rem !important;
}

.dropdownItem {
  background-color: transparent;
  border: none;
  font-weight: 100;
  transition: font-weight 0.2s ease;
}

.dropdownItem:hover {
  font-weight: bold;
}

.searchButton {
  border: none;
  background-color: #1c3513;
  color: #fefefe;
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.searchButton:hover {
  background-color: #5e8152;
}

.inputGroupAppend {
  display: flex;
  align-items: center;
  margin-right: -8px;
}

.loginContainer {
  margin: 10rem auto;
  box-shadow: 5px 5px 23px 0px #000000;
  max-width: 880px;
  text-align: center;
  border-radius: 20px;
}

.flowersBackground {
  max-width: 350px;
  height: 600px;
  object-fit: cover;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.loginTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
  margin-bottom: 2rem;
}

.loginInput {
  min-width: 400px;
}

.registerInput {
  max-width: 200px;
}

.forgotPassword {
  font-family: "Gantari", sans-serif;
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
  transition: color 0.6s ease font-weight 0.6s ease;
}

.forgotPassword:hover {
  color: #5a2727;
}

.loginBtn {
  background-color: #1c3513;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  color: #fefefe;
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.loginBtn:hover {
  background-color: #5e8152;
}

.loginCheckbox {
  font-family: "Gantari", sans-serif;
  text-align: start;
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
}

.register {
  font-family: "Gantari", sans-serif;
  color: #000000;
}

.createAccountLink {
  text-decoration: none;
}

.createAccount {
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fefefe;
  background-color: #5a2727;
  border: none;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 16px;
  transition: background-color 0.5s ease;
}

.createAccount:hover {
  background-color: #ca5f5f;
}

.resultsTitle {
  font-weight: 100;
  font-family: "Gantari", sans-serif;
  margin-bottom: 5rem;
}

.bookCard {
  margin-top: 5rem;
  border: none;
  transition: box-shadow 0.5s ease;
  background-color: #8aa78997;
}

.bookCard:hover {
  box-shadow: 5px 5px 23px 0px #000000;
  cursor: pointer;
}
.cardImage {
  object-fit: cover;
}

.bookTitle {
  font-family: "Gantari", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.bookAuthor {
  font-family: "Gantari", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.bookPrice {
  font-family: "Gantari", sans-serif;
  font-size: 1rem;
}

.detailsBtn,
.buyBtn,
.addToFavBtn,
.goBackBtn,
.ratingBtn {
  color: #fefefe;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Gantari", sans-serif;
}

.detailsBtn,
.ratingBtn {
  background-color: #5a2727;
  transition: background-color 0.5s ease;
}

.detailsBtn:hover,
.ratingBtn:hover {
  background-color: #ca5f5f;
}

.ratingBtn {
  margin-right: 1rem;
  font-size: 1.4rem;
  border-radius: 5px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.buyBtn {
  text-decoration: none;
  background-color: #1c3513;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.buyBtn:hover {
  background-color: #5e8152;
  color: #fefefe;
}

.addToFavBtn {
  background-color: #e0aa35;
  transition: background-color 0.5s ease;
}

.addToFavBtn:hover {
  background-color: #fece6d;
}

.cardsRow {
  margin-bottom: 5rem;
}

/* .cardsRow > div {
  min-width: 300px;
} */

.scrollBtn {
  position: fixed;
  bottom: 16px;
  right: 10px;
  z-index: 99;
  font-size: 3.5rem;
  border: none;
  outline: none;
  color: #5a2727;
  border-radius: 30px;
  background-color: transparent;
  transition: color 0.5s ease;
  opacity: 0;
}

.scrollBtn.visible {
  opacity: 1;
}

.scrollBtn.hidden {
  opacity: 0;
}

.scrollBtn:hover {
  color: #ca5f5f;
  cursor: pointer;
}

.notFoundCnt {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 3rem;
}

.issueTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.issueBody {
  font-size: 1.5rem;
  font-family: "Gantari", sans-serif;
  font-weight: 100;
  padding-bottom: 3rem;
}

.notFoundContainer {
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.notFoundTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.notFoundBody {
  font-size: 1.5rem;
  font-family: "Gantari", sans-serif;
  font-weight: 100;
}

.homeBtn {
  background-color: #1c3513;
  color: #fefefe;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Gantari", sans-serif;
  transition: background-color 0.5s ease;
}

.homeBtn:hover {
  background-color: #5e8152;
  cursor: pointer;
}

.favContainer {
  margin-top: 7rem;
  margin-bottom: 16.1rem;
}

.favTitle {
  font-family: "Berkshire Swash", cursive;
  color: #1c3513;
}

.favBody {
  font-family: "Gantari", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
}

.favPic {
  object-fit: cover;
  border: 1px solid #1c3513;
}

.tableHead {
  background-color: #1c3513;
  color: #fefefe;
  height: 70px;
  font-size: 1.7rem;
  border: 0px solid;
  font-family: "Berkshire Swash", cursive;
}

.tableRow {
  font-family: "Gantari", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}

.tableRow:nth-child(odd) {
  background-color: #c2e4c199;
}

.tableRow:nth-child(even) {
  background-color: #8aa78900;
}

.deleteBtn {
  border: none;
  background-color: #e0aa35;
  color: #fefefe;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: background-color 0.5s ease;
}

.deleteBtn:hover {
  background-color: #fece6d;
}

.divider {
  border: 2px solid #1c3513;
  margin-bottom: 3rem;
}

.releasesContainer {
  padding-inline: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.releasesTitle {
  font-family: "Berkshire Swash", cursive;
}

.releasesBody {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Gantari", sans-serif;
  margin-bottom: -2.5rem;
}

.homeCardContainer {
  min-width: 500px;
  overflow-x: scroll;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.homeCard {
  margin-top: -5rem;
}

.detailsContainer {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.detailsCard {
  border: 5px solid #5a2727;
  padding-inline: 3rem;
  padding-top: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 4px 16px 0px #000000;
}

.bookCover {
  border: 5px double #1c3513;
  box-shadow: 5px 4px 16px 0px #000000;
  object-fit: cover;
}

.detailsTitle {
  font-family: "Berkshire Swash", cursive;
  font-size: 2.5rem;
  color: #1c3513;
}

.detailsSubtitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Gantari", sans-serif;
  color: #1c3513;
}

.detailsAuthor {
  font-size: 1.3rem;
  font-weight: 100;
  font-style: italic;
  font-family: "Gantari", sans-serif;
  color: #000000;
}

.detailsPublisher {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Gantari", sans-serif;
}

.detailsDescription {
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Gantari", sans-serif;
}

.buttonsContainer {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.goBackBtn {
  background-color: #5a2727;
  transition: background-color 0.5s ease;
}

.goBackBtn:hover {
  background-color: #ca5f5f;
}

.discoverMoreContainer {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.carrollContainer,
.austenContainer,
.dickensContainer,
.hardyContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40rem;
  opacity: 0.7;
}

.carrollContainer {
  background-image: url("assets/images/lewisCarroll.jpg");
}

.austenContainer {
  background-image: url("assets/images/janeAusten.jpg");
}

.dickensContainer {
  background-image: url("assets/images/charlesDickens.jpg");
}

.hardyContainer {
  background-image: url("assets/images/thomasHardy.jpg");
}

.discoverMoreTitle {
  font-family: "Berkshire Swash", cursive;
  font-size: 6rem;
  color: #fefefe;
  line-height: 1000px;
  text-align: center;
}

.discoverMoreSubtitle {
  margin-top: 4rem;
  font-family: "Gantari", sans-serif;
  font-weight: 100;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animating {
  animation: fadeInOut 0.5s ease, fedeOutIn 0.5s ease;
}

.noFavContainer {
  margin-top: 10rem;
  background-color: #8aa789;
}

.noFavTitle {
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
  padding-top: 3rem;
}

.noFavBody {
  font-family: "Gantari", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

/* LoadingSpinner */

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.book {
  --color: #5a2727;
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: relative;
  margin: 32px 0 0 0;
  zoom: 1.5;
}
.book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: book var(--duration) ease infinite;
}
.book .inner .left,
.book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}
.book .inner .left:before,
.book .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: left var(--duration) ease infinite;
}
.book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: right var(--duration) ease infinite;
}
.book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}
.book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.book ul li:nth-child(0) {
  animation-name: page-0;
}
.book ul li:nth-child(1) {
  animation-name: page-1;
}
.book ul li:nth-child(2) {
  animation-name: page-2;
}
.book ul li:nth-child(3) {
  animation-name: page-3;
}
.book ul li:nth-child(4) {
  animation-name: page-4;
}
.book ul li:nth-child(5) {
  animation-name: page-5;
}
.book ul li:nth-child(6) {
  animation-name: page-6;
}
.book ul li:nth-child(7) {
  animation-name: page-7;
}
.book ul li:nth-child(8) {
  animation-name: page-8;
}
.book ul li:nth-child(9) {
  animation-name: page-9;
}
.book ul li:nth-child(10) {
  animation-name: page-10;
}
.book ul li:nth-child(11) {
  animation-name: page-11;
}
.book ul li:nth-child(12) {
  animation-name: page-12;
}
.book ul li:nth-child(13) {
  animation-name: page-13;
}
.book ul li:nth-child(14) {
  animation-name: page-14;
}
.book ul li:nth-child(15) {
  animation-name: page-15;
}
.book ul li:nth-child(16) {
  animation-name: page-16;
}
.book ul li:nth-child(17) {
  animation-name: page-17;
}
.book ul li:nth-child(18) {
  animation-name: page-18;
}

@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(-90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

/* LoadingSpinnerSmall */

.spinnerContainerSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.bookSmall {
  --color: #5a2727;
  --duration: 6.8s;
  width: 16px;
  height: 6px;
  position: relative;
  margin: 16px 0 0 0;
  zoom: 0.75;
}

.bookSmall .inner {
  width: 16px;
  height: 6px;
  position: relative;
  transform-origin: 1px 1px;
  transform: rotateZ(-90deg);
  animation: bookSmall var(--duration) ease infinite;
}

.bookSmall .inner .left,
.bookSmall .inner .right {
  width: 30px;
  height: 2px;
  top: 0;
  border-radius: 1px;
  background: var(--color);
  position: absolute;
}

.bookSmall .inner .left:before,
.bookSmall .inner .right:before {
  content: "";
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background: inherit;
  position: absolute;
  top: -5px;
  left: 3px;
}

.bookSmall .inner .left {
  right: 14px;
  transform-origin: 29px 1px;
  transform: rotateZ(90deg);
  animation: leftSmall var(--duration) ease infinite;
}

.bookSmall .inner .right {
  left: 14px;
  transform-origin: 1px 1px;
  transform: rotateZ(-90deg);
  animation: rightSmall var(--duration) ease infinite;
}

.bookSmall .inner .middle {
  width: 16px;
  height: 6px;
  border: 2px solid var(--color);
  border-top: 0;
  border-radius: 0 0 4px 4px;
  transform: translateY(1px);
}

.bookSmall ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}

.bookSmall ul li {
  height: 2px;
  border-radius: 1px;
  transform-origin: 100% 1px;
  width: 24px;
  right: 0;
  top: -5px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-9px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.bookSmall ul li:nth-child(0) {
  animation-name: pageSmall-0;
}
.bookSmall ul li:nth-child(1) {
  animation-name: pageSmall-1;
}
.bookSmall ul li:nth-child(2) {
  animation-name: pageSmall-2;
}
.bookSmall ul li:nth-child(3) {
  animation-name: pageSmall-3;
}
.bookSmall ul li:nth-child(4) {
  animation-name: pageSmall-4;
}
.bookSmall ul li:nth-child(5) {
  animation-name: pageSmall-5;
}
.bookSmall ul li:nth-child(6) {
  animation-name: pageSmall-6;
}
.bookSmall ul li:nth-child(7) {
  animation-name: pageSmall-7;
}
.bookSmall ul li:nth-child(8) {
  animation-name: pageSmall-8;
}
.bookSmall ul li:nth-child(9) {
  animation-name: pageSmall-9;
}
.bookSmall ul li:nth-child(10) {
  animation-name: pageSmall-10;
}
.bookSmall ul li:nth-child(11) {
  animation-name: pageSmall-11;
}
.bookSmall ul li:nth-child(12) {
  animation-name: pageSmall-12;
}
.bookSmall ul li:nth-child(13) {
  animation-name: pageSmall-13;
}
.bookSmall ul li:nth-child(14) {
  animation-name: pageSmall-14;
}
.bookSmall ul li:nth-child(15) {
  animation-name: pageSmall-15;
}
.bookSmall ul li:nth-child(16) {
  animation-name: pageSmall-16;
}
.bookSmall ul li:nth-child(17) {
  animation-name: pageSmall-17;
}
.bookSmall ul li:nth-child(18) {
  animation-name: pageSmall-18;
}

@keyframes pageSmall-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes pageSmall-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}

@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(-90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

.formContainer {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.top-0 {
  top: 0 !important;
}

.end-0 {
  right: 0 !important;
}

.rating-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.star {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.modalSubTitle {
  font-family: "Gantari", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-block: 1rem;
}

.saveBtn {
  margin: 0 auto;
}
